* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: cover;
}
body {
    background-image: url('A (2).jpg');

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-generator {
    padding: 40px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.03);
/* From https://css.glass */
background: rgba(255, 255, 255, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.5px);
-webkit-backdrop-filter: blur(15.5px);
border: 1px solid rgba(255, 255, 255, 0.26);
}

.password-generator div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.password {
    min-width: 280px;
    background-color: white;
    color: rgb(199, 199, 199);
    border-radius: 9px;
}

.password p {
    padding: 6px 10px;
}

.password i {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 6px 10px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.password-generator button {
    width: 100%;
    border: none;
    color: rgba(255, 255, 255, 0.699);
    background-color: #2c131a;
    padding: 10px;
    /* From https://css.glass */
background: rgba(0, 13, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.5px);
-webkit-backdrop-filter: blur(15.5px);
border: 1px solid rgba(0, 13, 255, 0.26);
  }